* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: hsl(0, 0%, 0%);
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

.btn {
  background: hsla(0, 0%, 0%, 0.1);
  border: 1px solid hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.Calendar {
  justify-content: center;
  align-items: center;
  height: 70%;
}

.Calendar-main {
  display: flex;
  justify-content: flex-end;
}

.Calendar-main button {
  color: rgb(70, 70, 70);
  background-color: white;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 3px;
  cursor: pointer;
  height: 29px;
  width: 80px;
}

.AddEvent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.AddEvent-header {
  text-decoration: underline;
  width: 100%;
  text-align: center;
}

.AddEvent-header button {
  background-color: #ffffff;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 20px;
  width: 200px;
  height: 50px;
  font-size: large;
}

.AddEvent-main {
  justify-content: center;
}

.AddEvent-form {
  width: 300px;
  margin: 0 auto;
}

.AddEvent-form input[type="text"],
.AddEvent-form input[type="datetime-local"],
.AddEvent-form button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #9b9b9b;
  border-radius: 0px;
}

.AddEvent-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.AddEvent-form button:hover {
  background-color: #45a049;
}
